<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <!--    <link rel="stylesheet" th:href="@{css/li.css}"/>-->
</head>
<body>
<header class="header--main-page">
    <div th:insert="fragments/header"></div>
    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1>
                Panel Admina
            </h1>
        </div>
    </div>
</header>

<div class="row">
    <div class="col">
        <a th:href="@{/admin/addUser}" class="btn btn--without-border active">Dodaj użytkownika</a>
        <a th:href="@{/admin/addInstitution}" class="btn btn--without-border active">Dodaj instytucję</a>
        <a th:href="@{/admin/adminList}" class="btn btn--without-border active">Administratorzy</a>
    </div>
</div>
<section id="help" class="help">
    <h2>Lista instytucji</h2>
    <div class="help--slides active" data-id="1">
        <p>Poniżej lista wszystkich instytucji</p>
        <ul class="help--slides-items" th:each="institution,index : ${allInstitutions}">
            <div th:if="${index.odd}">
                <li>
                    <div class="col">
                        <div class="row">
                            <div class="title"><span th:text="${institution.name}"></span></div>
                            <div class="subtitle"><span th:text="${institution.description}"></span></div>
                        </div>
                        <div class="row">
                            <a class="title" th:href="@{/admin/institution/remove/{id}(id=${institution.id})}"
                               role="button">Usuń</a>
                            <a class="title" th:href="@{/admin/institution/edit/{id}(id=${institution.id})}"
                               role="button">Edytuj</a>
                        </div>
                    </div>
                    <div th:if="${allInstitutions.size()>index.index+1}">
                        <div class="col">
                            <div class="row">
                                <div class="title"><span th:text="${allInstitutions[index.index+1].name}"></span></div>
                                <div class="subtitle"><span
                                        th:text="${allInstitutions[index.index+1].description}"></span></div>
                            </div>
                            <div class="row">
                                <a class="title"
                                   th:href="@{/admin/institution/remove/{id}(id=${allInstitutions[index.index+1].id})}"
                                   role="button">Usuń</a>
                                <a class="title"
                                   th:href="@{/admin/institution/edit/{id}(id=${allInstitutions[index.index+1].id})}"
                                   role="button">Edytuj</a>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
    <h2>Lista użytkowników</h2>
    <div class="help--slides active" data-id="1">
        <p>Poniżej lista wszystkich użytkowników</p>
        <ul class="help--slides-items" th:each="user,index : ${allUsers}">
            <div th:if="${index.odd}">
                <li>
                    <div class="col">
                        <div class="row">
                            <div class="title"><span th:text="${user.userName}"></span></div>
                            <div class="subtitle"><span th:text="${user.userEmail}"></span></div>
                        </div>
                        <div class="row">
                            <a class="subtitle"
                               th:href="@{/admin/user/details/{id}(id=${user.id})}"
                               role="button">Szczegóły</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div th:if="${allUsers.size()>index.index+1}">
                                <div class="title"><span th:text="${allUsers[index.index+1].userName}"></span></div>
                                <div class="subtitle"><span th:text="${allUsers[index.index+1].userEmail}"></span></div>
                            </div>
                        </div>
                        <div class="row">
                            <a class="subtitle"
                               th:href="@{/admin/user/details/{id}(id=${allUsers[index.index+1].id})}"
                               role="button">Szczegóły</a>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
    <h2>Lista darowizn</h2>
    <div class="help--slides active" data-id="1">
        <p>Poniżej lista wszystkich darowizn</p>
        <ul class="help--slides-items" th:each="donation,index : ${allDonations}">
            <div th:if="${index.odd}">
                <li>
                    <div class="col">
                        <div class="row">
                            <div class="title"><span th:text="${donation.pickUpDate}"></span></div>
                            <div class="subtitle"><span th:text="${donation.institution.name}"></span></div>
                        </div>
                        <div class="row">
                            <a class="subtitle"
                               th:href="@{/admin/donation/details/{id}(id=${donation.id})}"
                               role="button">Szczegóły</a>
                        </div>
                    </div>
                    <div th:if="${allDonations.size()>index.index+1}">
                        <div class="col">
                            <div class="row">
                                <div class="title"><span th:text="${allDonations[index.index+1].pickUpDate}"></span>
                                </div>
                                <div class="subtitle"><span
                                        th:text="${allDonations[index.index+1].institution.name}"></span>
                                </div>
                            </div>
                            <div class="row">
                                <a class="subtitle"
                                   th:href="@{/admin/donation/details/{id}(id=${allDonations[index.index+1].id})}"
                                   role="button">Szczegóły</a>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</section>
<div th:insert="fragments/footer"></div>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
