<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
<header class="header--form-page">
    <div th:insert="fragments/header"></div>
</header>
<section class="login-page">
    <h2>Dodaj organizację</h2>
    <form th:action="@{/admin/institution/addInstitution}" th:object="${institution}" method="post">
        <div class="form-group">
            <label th:for="*{name}"><h3>Nazwa</h3>
                <input type="text" name="name" placeholder="Nazwa" th:field="*{name}"/>
            </label>
        </div>
        <div class="form-group">
            <label th:for="*{description}"><h3>Opis</h3>
                <textarea placeholder="dodaj opis..."  name="description" th:field="*{description}"></textarea>
            </label>
        </div>
        <div class="form-group form-group--buttons">
            <button id="loginButton" class="btn" type="submit">Zatwierdź</button>
        </div>
        <div class="form-group form-group--buttons">
            <button onclick="goBack()"  class="btn">Powrót</button>
        </div>
        <ul th:if="${#fields.hasErrors('*')}" style="color: crimson; size: landscape">
            <li class="text-danger" th:each="err : ${#fields.errors('*')}"
                th:text="${err}">Input is incorrect
            </li>
        </ul>
    </form>
</section>
<div th:insert="fragments/footer"></div>
</body>
</html>
