<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
<header class="header--main-page">
    <div th:insert="fragments/header"></div>
</header>
<section id="help" class="help">
    <h2>Szczegóły użytkownika<span th:text="${user.userName}" style="margin-left: 2%"></span></h2>
    <div class="row">
        <div class="col">
            <div th:if="${userDeleteMessage}">
                <span style="color: crimson" th:text="${userDeleteMessage}"></span>
            </div>
        </div>
        <div class="help--slides active" data-id="1">
            <form th:action="@{/admin/user/edit}" th:object="${user}" method="post">
                <label th:for="*{id}">
                    <input hidden th:attr="name='id'" th:value="${user.id}">
                </label>
                <div class="form-group"><h3>Aktywny/nieaktywny</h3>
                    <label th:for="*{enabled}">
                        <input type="checkbox" th:field="*{enabled}"/>
                    </label>
                </div>
                <!--            <div class="form-group"><h3>Hasło</h3>-->
                <label th:for="*{password}">
                    <input hidden th:attr="name='password'" th:value="${user.password}"/>
                </label>
                <!--            </div>-->
                <div class="form-group"><h3>Email</h3>
                    <label th:for="*{userEmail}">
                        <textarea placeholder="Mail" th:field="*{userEmail}"></textarea>
                    </label>
                </div>
                <div class="form-group"><h3>Nazwisko</h3>
                    <label th:for="*{userLastname}">
                        <textarea placeholder="Nazwisko" th:field="*{userLastname}"></textarea>
                    </label>
                </div>
                <div class="form-group"><h3>Imię</h3>
                    <label th:for="*{userName}">
                        <textarea placeholder="Imię" th:field="*{userName}"></textarea>
                    </label>
                </div>
                <div class="form-group"><h3>User Role</h3>
                    <label th:for="*{roles}">
                        <select th:field="*{roles}">
                            <option th:each="r:${allRoles}" th:value="${r.id}" th:text="${r.name}">
                        </select>
                    </label>
                </div>
                <div class="form-group form-group--buttons">
                    <button class="btn" type="submit">Edytuj</button>
                </div>
                <div class="form-group form-group--buttons">
                    <button onclick="goBack()" class="btn">Powrót</button>
                </div>
                <div class="form-group form-group--buttons">
                    <a th:href="@{/admin/user/addUser/delete/{id}(id = ${user.id})}" class="btn btn--without-border active">Usuń
                        użytkownika</a>
                </div>
            </form>
        </div>
    </div>
</section>
<div th:insert="fragments/footer"></div>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
