<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="header--form-page">
    <div th:insert="fragments/header"></div>
</header>
<section class="login-page">
    <h2>Przypomnij hasło</h2>
    <div th:if="${mailAbsent}">
        <span style="color: crimson" th:text="${mailAbsent}"></span>
    </div>
    <div th:if="${message}">
        <span style="color: crimson" th:text="${message}"></span>
    </div>
    <form th:action="@{/recallPassword}" th:method="post" th:object="${user}">
        <label th:for="*{userEmail}">
            <input type="email" placeholder="Enter email" th:field="*{userEmail}"/>
        </label>
        <input type="submit" value="Wyślij"/>
    </form>
</section>
<div th:insert="fragments/footer"></div>
<script th:src="@{/js/checkPassword.js}"></script>
</body>
</html>
