<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="header--form-page">
    <div th:insert="fragments/header"></div>
</header>
<section class="login-page">
    <h2>Podaj nowe hasło</h2>
    <div class="container-90">
        <div th:if="${param.passwordMessage}">
            <span style="color: crimson" th:text="${param.passwordMessage}"></span>
        </div>
        <div class="card" style="width: 60rem;">
            <div class="form--contact">
                <div class="card-body">
                    <form th:object="${user}" th:method="post"
                          th:action="@{/recallPassword/updatePassword/{token}(token=${token})}">
                        <label th:for="*{userEmail}">
                            <input hidden th:attr="name='userName'" th:value="${user.userEmail}">
                        </label>
                        <div class="form-group">
                            <label th:for="*{password}">
                                <input id="password" type="password" style="size: landscape"
                                       placeholder="wprowadź nowe hasło"
                                       th:field="${user.password}"/>
                            </label>
                        </div>
                        <div class="form-group">
                            <label th:for="${user.passwordConfirmation}">
                                <input id="passwordRep" type="password" th:field="${user.passwordConfirmation}" placeholder="Powtórz hasło"/>
                            </label>
                        </div>
                        <div class="form-group">
                            <span id="passwordMessage"></span>
                        </div>
                        <button id="loginButton" class="btn" type="submit">Wyślij</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<div th:insert="fragments/footer"></div>
<script th:src="@{/js/checkPassword.js}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
