<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
<header class="header--main-page">
    <div th:insert="fragments/header"></div>
</header>
<section id="help" class="help">
    <h2>Zmiana hasła dla użytkownika: [[${#httpServletRequest.remoteUser}]]</h2>
    <div class="row">
        <div class="help--slides active" data-id="1">
            <form th:action="@{/user/profile/changePassword}" th:object="${userDTO}" method="post">
                <label th:for="*{userEmail}">
                    <input hidden th:attr ="name='userEmail'" th:value="${userDTO.userEmail}">
                </label>
                <div class="form-group"><h3>Wprowadź obecne hasło</h3>
                    <label th:for="*{currentUserPassword}">
                        <input type="password" th:field="*{currentUserPassword}">
                    </label>
                </div>
                <div class="form-group"> <h3>Podaj nowe hasło</h3>
                    <label th:for="*{password}">
                        <input type="password" th:field="*{password}">
                    </label>
                </div>
                <div class="form-group"> <h3>Potwierdź nowe hasło</h3>
                    <label th:for="*{passwordConfirmation}">
                        <input type="password" th:field="*{passwordConfirmation}">
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zatwierdź"/>
                </div>
                <div class="form-group form-group--buttons">
                    <button onclick="goBack()" class="btn">Powrót</button>
                </div>
                <div th:if="${(param.message1)}">
                    <h3><span style="color: crimson" th:text="${param.message1}"></span></h3>
                </div>
                <div th:if="${(param.message2)}">
                    <h3><span style="color: crimson" th:text="${param.message2}"></span></h3>
                </div>
                <div th:if="${(errors)}">
                    <h3><span style="color: crimson" th:text="${errors}"></span></h3>
                </div>
            </form>
        </div>
    </div>
</section>
<div th:insert="fragments/footer"></div>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
