<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div th:insert="fragments/header"></div>
<section class="login-page">
    <h1>Access denied</h1>
</section>
<div th:insert="fragments/footer"></div>
</body>
</html>
