<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
  <header class="header--form-page">
  <div th:insert="fragments/header"></div>
  </header>
    <section class="login-page">
      <div th:if="${emptyToken}">
        <h1><span style="color:crimson;" th:text="${emptyToken}"></span></h1>
      </div>
      <div th:if="${successPasswordUpdate}">
        <h1><span style="color:forestgreen;" th:text="${successPasswordUpdate}"></span></h1>
      </div>
      <div th:if="${successEmail}">
        <h1><span th:text="${successEmail}"></span></h1>
      </div>
      <div th:if="${message2}">
        <h1><span th:text="${message2}" style="color: crimson"></span></h1>
      </div>
      <div th:if="${message1}">
        <h1><span th:text="${message1}" style="color: darkseagreen"></span></h1>
      </div>
      <div th:if="${noActiveUser}">
        <h1><span th:text="${noActiveUser}" style="color: crimson"></span></h1>
      </div>
      <div th:if="${(param.message)!=null}">
        <h2><span style="color: crimson" th:text="${param.message}"></span></h2>
      </div>
      </div>
      <div sec:authorize="isAuthenticated()">
        <h1>Jesteś zalogowany</h1>
      </div>
      <div th:if="${#authorization?.expression('isAnonymous()')}">
      <h2>Zaloguj się</h2>
      <form th:action="@{/login}" method="post">
        <div class="form-group">
          <input type="text" name="username" placeholder="userName" />
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Hasło" />
          <a th:href="@{/recallPassword}" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <div class="form-group form-group--buttons">
          <a th:href="@{/register}" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit" value="Sign In">Zaloguj się</button>
        </div>
      </form>
      </div>
    </section>
    <div th:insert="fragments/footer"></div>
  </body>
</html>
